<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Diwali Wishes</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="/public/style.css" rel="stylesheet">
    </head>
    <body>

<center>

        <div class="mid-content">

        
            <div class="area" >
                
                <ul class="circles">
                    <h2 class="title" style="color: white;"><br> Send Diwali Wishes to your Loved ones!</h2>

                    <!-- <form class="form-inline" action="/home" method="GET">
          
                        <div class="form-group mx-sm-3 mb-2"> -->
                          
                        <div class="lamp">
                            <div class="top"></div>
                            <div class="flame"></div>
                            </div>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    
                        
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            
                  
        <br>
        <br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <h2 style="color: white;">Send Wishes</h2>
        <form id="contactForm" action ="/" method="post">
          <div class="row">
             <div class="col-md-6">
                <div class="form-group">
                   <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                   <div class="help-block with-errors"></div>
                </div>
             </div>
             
             <div class="col-md-6">
                <div class="form-group">
                   <input type="text" placeholder="Recepient Name" id="rname" class="form-control" name="rname" required data-error="Please enter your email">
                   <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <input type="email" placeholder="Recepient Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
                  <div class="help-block with-errors"></div>
               </div>
             </div>
             <div class="col-md-12">
                
                <div class="submit-button text-center">
                   <button class="btn btn-common" id="submit" type="submit">Send Message</button> 
                
                   <div class="clearfix"></div>
                </div>
             </div>
          </div>
       </form>


      
       
    </body>
</html>