<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Diwali Wishes</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="/public/style.css" rel="stylesheet">
    </head>
    <body>



        <div class="mid-content">

        
            <div class="area" >
                
                <ul class="circles">
                    
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <center>
                    <h3 style="color: white;">Wish Sent to <br> <%=item.rname%>!!!</h3>
                        
                        <!-- <div class="form-group" >
                            <input type="submit" value="Done"   class="btn float-right login_btn">
                        
                        </div> -->
                        </center>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    </ul>
                    </div>
                    </div>
                
                   </body>
                   </html>
                    
            